.object-picker-highlight {
    border: 2px solid blue !important;
}
.object-flow-highlight {
    border: 2px solid blue !important;
    box-shadow: 0 0 10px #eedba7 !important;
    background-color: #e9a667 !important;
}
body .auto-tool-xpath-eval-element {
    border: 2px solid red !important;
    border-style: dashed !important;
    background-color: #bccbcf !important;
    box-shadow: 0 0 10px #9ecaed !important;
}

.sqa-modal {
    overflow: hidden !important;
   
    right: 35% !important;
    text-align: left !important;
    display: none;
    position: fixed !important;
    z-index: 20000 !important;
    width: 350px !important;
    /* height: 11%; */
    /* overflow: auto; */
    /* background-color: rgba(0, 0, 0, 0.4) !important; */
    border-radius: 5px !important;
    box-sizing: border-box !important;
    /* box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2) !important; */
    bottom: 30% !important;
}




/* Modal Content */
.sqa-modal-content {
    overflow: hidden !important;
    background-color: RED !important;
    margin: auto !important;
    padding: 20px !important;
    /* border: 1px solid #888; */
    width: 100% !important;
    height: 100% !important;
    /* border-radius: 5px; */
    /* box-sizing: border-box; */
    /* box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
}
.sqa-modal-content2 {
    overflow: hidden !important;
    background-color:yellowgreen !important;
    margin: auto !important;
    padding: 20px !important;
    /* border: 1px solid #888; */
    width: 100% !important;
    height: 100% !important;
    /* border-radius: 5px; */
    /* box-sizing: border-box; */
    /* box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
}.sqa-modal-content3 {
    overflow: hidden !important;
    background-color:#ffc107 !important;
    margin: auto !important;
    padding: 20px !important;
    /* border: 1px solid #888; */
    width: 100% !important;
    height: 100% !important;
    /* border-radius: 5px; */
    /* box-sizing: border-box; */
    /* box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
}
/* The Close Button */
.sqa-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.sqa-close:hover,
.sqa-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#items{
    list-style:none;
    margin:0px !important;
    margin-top:4px !important;
    padding-left:10px !important;
    padding-right:10px !important;
    padding-bottom:3px !important;
    font-size:12px !important;
    color: #333333;
    
  }
  hr { width: 85%; 
    background-color:#E4E4E4;
    border-color:#E4E4E4;
      color:#E4E4E4;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     border-top: 1px solid #eee;
  }
  #cntnr{
    display:none ;
    position: absolute !important;
    border:1px solid #B2B2B2 !important;
    width:150px;   
    background:#F9F9F9 !important;
    box-shadow: 3px 3px 2px #E9E9E9 !important;
    border-radius:4px !important;
  }
  h3 {
    font-size: 1.17em !important;
  }
  
  li{
    
    padding: 3px !important;
    padding-left:10px!important;
  }
  
  
  #items :hover{
     color: white;
    background:#284570;
    border-radius:2px;
  }

  .action-main {
    display:none ;
    border: 0.2px solid #dadada;
    box-shadow: 0px 0px 30px rgba(214, 214, 214, 0.15);
    border-radius: 5px;
    width: 250px;
    height: 220px;
    position:absolute;
}

.action-head {
    background: #3379B3;
    border-radius: 3px 3px 0px 0px;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 10px 23px;
    color: #FFFFFF;
    font-family: sans-serif;
}

.action-body {
    position: relative;
    top: -20px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    background: #fff;
}

.action-input-search {
    position: relative;
}

.action-input-search img {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 14px;
}


.action-input-search input {
    height: 27px;
    outline: 0;
    padding: 0px 30px;
    box-shadow: unset !important;
    border: 0.3px solid rgb(138 139 140 / 51%) !important;
    width: 100%;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
}

.action-input-details {
    border: 0.2px solid #e9e9e9;
    box-shadow: 0px 0px 8px rgba(221, 221, 221, 0.15);
}

.action-input-details {
    background: #F8FCFF;
    border-radius: 3px;
    height: 138px;
    overflow: auto;

}

/* width */
.action-input-details::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}

/* Track */
.action-input-details::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.action-input-details::-webkit-scrollbar-thumb {
    background: #8A8B8C;
    border-radius: 10px;
}
.action-input-details ul {
    padding: 0;
    margin: 0;
}

.action-input-details ul li {
    padding: 5px 7px;
    list-style: none;
    font-size: 14px;
    color: #545454;
    cursor: pointer;
    line-height: 25px;
    font-family: sans-serif;
    width: 95%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.action-input-details ul li:nth-child(even) {
    background: #EEF7FF;
}

.close-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}